@charset "UTF-8";

* {
  box-sizing: border-box;
}
body {
    background-color: rgb(226, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header {
  text-align: center;
  background-color: rgba(48, 28, 194, 0.948);
  padding: 8px;
}
header #open {
  display: table;
  width: 100%;
}
header h1, header #open {
  display: table-cell;
}
header h2 a {
color: white;
}
h1#principal {
color: rgb(12, 158, 238);
text-align: center;
}
header h1 {
  color: white;
}
.linha {
  padding: 0 4px;
  display: table;
  width: 100%;
  min-height: 600px;
}
main {
  margin: 0 auto;
}
section {
  float: left;
  width: 100%;
}
.card {
  background-color: white;
  padding: 8px;
  margin-top: 4px;
  min-height: 600px;
}
aside {
  float: left;
  width: 25%;
  padding-left: 20px;
}
a {
    text-decoration: none;
}
nav#open a {
    padding: 20px;
    color: white;
}
nav#open a:hover {
    background-color: white;
    color: #0c4846;
}
nav#open ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav#open li {
    float: right;
}
nav#open p#close{
  text-align: right;
  font-size: 32px;
  margin-top: 12px;
}
p#assinatura {
  text-align: center;
}
main#conteudo{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #0949488f;
    width: 600px;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 10px;
    margin: auto;
    transition: margin-left 0.2s;
}
main {
  transition: margin-left 0,2s;
}
section p#assinatura {
  background-color: rgba(232, 238, 240, 0.828);
  color: rgba(20, 140, 180, 0.848);
}
/*configurando tabela de cursos*/
.tabcursos {
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid rgb(170, 168, 168);
  padding: 8px;
}
.cursos {
  position: relative;
  float: left;
  width: 280px;
  background-color: rgba(241, 240, 240, 0.846);
  padding: 0px;
  
}
.cursos img {
  width: 100%
}
.cursos h2, .cursos p{
  padding: 20px;
}
.btncursos {
  font-weight: bolder;
  background-color: rgba(65, 42, 240, 0.948);
  border: rgba(48, 28, 194, 0.948);
  border-radius: 18px;
  padding: 8px 40px 8px 40px;
  display: inline-block;
  margin-bottom: 10px;
}
.btncursos a {
  font-size: 20px;
  color: white;
}
.h2botao {
  text-align: center;
}
.tabcursos ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.tabcursos li {
  padding: 20px;
  float: left;
}
.cursopython {
  margin-top: -20px;
}
/*configurando tabela da pagina de apoio*/
.tabapoio {
  width: 100%;
  height: 600px;
  background-color: white;
  padding: 8px;
  text-align: center;
}
.tabapoio h2, h3 {
  color: rgb(28, 82, 192);
}
.apoio {
  width: 288px;
  float: left;
  background-color: rgba(210, 230, 248, 0.846);
  padding: 8px;
  margin-left: 26px;
  margin-top: 20px;
  font-weight: bolder;
  color: rgb(28, 82, 192);
  box-shadow: 2px 2px 8px 2px rgba(2, 2, 98, 0.58);
}
.apoiar {
  font-size: 28px;
  color: rgb(26, 78, 180);
}
iframe {
  text-align: center;
}
footer {
  font-size: 12px;
  padding: 20px;
  background-color: rgba(48, 28, 194, 0.948);
  color: white;
  margin-top: 20px;
}
footer dt {
  font-weight: bold;
}
footer dd {
  margin-left: 0;
}
footer a {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  display: table;
  width: 100%;
  color: white;
}
footer dl, footer a {
  display: table-cell;
  vertical-align: middle
}
@media screen and (max-width: 1200px) {
  section, aside {
      width: 100%;
        padding: 0;
  }
}
@media screen and (max-width: 998px) {
  .lateral {
      width: 310px;
      height: 220px;
  }
  .botao {
      position: absolute;
      left: 88px;
  }
  #codigo {
    font-size: 190px;
    position: absolute;
    top: 100px;
  }
  /*tabela de apoio tela tablet*/
  .apoio {
    width: 100%;
    margin-left: 0;
  }
  .tabapoio {
    height: 1200px;
  }
}
@media screen and (min-width: 601px) {
  header h2 {
    display: none;
  }
  nav#open p#close {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  main#conteudo {
    width: 280px;
  }
  nav#open {
    width: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(238, 248, 250);
    z-index: 1;
    overflow: auto;
    transition: width 0.2s;
  }
  nav#open ul {
    padding-top: 40px;
    width: 100%;
    display: block;
    text-align: left;
  }
  nav#open li {
    float: none;
    padding: 12px 10px 12px 32px;
  }
  nav#open a {
    padding: 12px 10px 12px 12px;
    color: rgba(48, 28, 194, 0.948);
    font-weight: bolder;
  }
  header h2 {
    text-align: right;
    font-weight: bold;
    display: table;
    width: 100%;
  }
  header h1, header h2 {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
  }
  .tabapoio {
    height: 100%;
    overflow: hidden;
  }
  .apoio {
    width: 100%;
    margin-left: 0px;
  }
  .tabcursos li {
    float: none;
  }
  .cursos {
    width: 100%;
    margin-top: 8px;
    height: auto;
  }
}