nav#open
        p#close
                a(href='#' onclick='fecharMenu()') &times;
        ul
            li
                a(href='../../index.html') Pagina inicial
            li
                a(href='sobre.html') Sobre
            li
                a(href='cursos.html') Cursos
            li
                a(href='contato.html') Contato