nav#open
        h2.abrir
            a.btn-abrir(href='#' onclick='abrirMenu()') &#x2630;
        ul
            li#close
                a(href='#' onclick='fecharMenu()') &times;
            li
                a(href='index.html') Pagina inicial
            li
                a(href='sobre.html') Sobre
            li
                a(href='cursos.html') Cursos
            li
                a(href='contato.html') Contato