extends layout

block conteudo
    div.linha
        section
            article.card
                h2 Cursos de linguagens de programa&ccedil;&atilde;o em videoaulas
                a(href='cursos.html')
                    img(src='imagens/linguagens.png.jpg' alt='Cursos linguagens de programação' width='100%')
                p Curos para iniciantes em linguagens de programa&ccedil;&atilde;o.
        aside
            article.card
                h3 Cursos disponiveis
                a(href='cursos.html')
                    img(src='imagens/pythonlateral.png.jpg' alt='Cursos disponiveis' width='100%')
                p Confira nossos cursos disponiveis at&eacute; o momento