@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #1CFFFB, #1bdad6);
}
h1#principal {
    background: #FF5B12;
    text-align: center;
    color: #3b1402;
}
h1 {
    color: #FF5B12;
}
p {
    text-align: justify;
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #0949488f;
    width: 600px;
    padding: 10px;
    margin: auto;
}