@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
a {
    text-decoration: none;
}
.btn-abrir {
    color: white;
    font-size: 20px;
}
.btn-inicio {
  color: white;
  font-size: 20px;
  margin-left: 220px;
}
.btn-sobre {
  color: white;
  font-size: 20px;
  margin-left: 220px;
}
.btn-cursos {
  color: white;
  font-size: 20px;
  margin-left: 220px;
}
nav#menu a {
    color: #FF5B12;
    font-size: 20px;
    display: block;
    padding: 12px 10px 12px 32px;
}
nav#menu a:hover {
    color: #0c4846;
    background-color: #1CFFFB;
}
nav#menu {
    height: 100%;
    width: 0px;
    background-color: #0c4846;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.2s;
}
nav a {
    padding: 20px;
}
nav a:hover {
    background-color: #1CFFFB;
    color: #0c4846;
}
nav ul {
    list-style: none;
    background-color:  #0c4846;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
    
}
header {
    text-align: center;
    background-color:  #0c4846;
    padding: 2px;
}
h1#principal {
    text-align: center;
}
h1 {
    color: #FF5B12;
}
p {
    text-align: justify;
}
p#assinatura {
  text-align: center;
}
main#conteudo{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #0949488f;
    width: 600px;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 10px;
    margin: auto;
    transition: margin-left 0.2s;
}
main {
  transition: margin-left 0,2s;
}
@media screen and (max-width: 1000px) {
  main#conteudo {
   width: 400px;
 }
 .btn-inicio {
   font-size: 12px;
   margin-left: 120px;
}
.btn-sobre {
  font-size: 12px;
  margin-left: 120px;
}
.btn-cursos {
  font-size: 12px;
  margin-left: 120px;
}
}
@media screen and (max-width: 768px) {
  .btn-inicio {
    font-size: 12px;
    margin-left: 80px;
}
.btn-sobre {
  font-size: 12px;
  margin-left: 80px;
}
.btn-cursos {
  font-size: 12px;
  margin-left: 80px;
}

}
@media screen and (max-width: 600px) {
  .btn-abrir {
    font-size: 12px;
}
  .btn-inicio {
    font-size: 12px;
    margin-left: 20px;
}
.btn-sobre {
  font-size: 12px;
  margin-left: 20px;
}
.btn-cursos {
  font-size: 12px;
  margin-left: 20px;
}
}