extends layout.pug
block titulo
    title Apoio
block css
    link(rel='stylesheet' type='text/css' href='../../css/style.css')
block header
    header
        h1 Página de apoio
        include ../includes/header
        include ../includes/nav
block conteudo
    main