doctype html
html(lang="pt-br")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Aula 1
        link(rel='stylesheet' type='text/css' href='../../css/style.css')
        script(data-ad-client='ca-pub-9913080789602930' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    body
        include ../includes/headeraulas
            h1 Aula_01
        include ../includes/nav
        div.linha
            section
                article.card
                h2 Primeiros comandos
                iframe(width='100%' height='315' src='https://www.youtube.com/embed/B_6muiTSBvc' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                p Nessa aula aprendemos os primeiros comandos da linguagem python.
                p
                    | Aprendemos para que serve a fun&ccedil;&atilde;o print, e colocamos em pr&aacute;tica usando o aplicativo PyDroid3.
                p
                    | Sugiro que pratique o que foi proposto no v&iacute;deo, e quando estiver pronto, prossiga para a aula 2.