extends layout.pug
block titulo
    title Aula 2
block css
    link(rel='stylesheet' type='text/css' href='../../css/aulas.css')
block header
    header
        include ../includes/headeraulas
        h1 Aula_02
    include ../includes/navaulas
block conteudo
    main
        .linha
            section
                article.card
                    h2 Fun&ccedil;&atilde;o input e vari&aacute;veis
                    iframe(width='100%' height='400' src='https://www.youtube.com/embed/y39uAo9-iWg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    p
                        | Nessa aula aprendemos sobre a função input, entendendo que se trata de um método de entrada, onde a máquina recebe dados informados pelo usuário.
                    p Aprendemos também o que são variáveis, e para o que servem.
                    p Colocamos em prática esses ensinamentos no Pydroid3, unindo funções e variáveis.
block script
    script(src='../../javascript/menuaulas.js')