extends layout.pug
block titulo
    title Aula 3
block css
    link(rel='stylesheet' type='text/css' href='../../css/aulas.css')
block header
    header
        include ../includes/headeraulas
        h1 Aula_03
    include ../includes/navaulas
block conteudo
    main

block script
    script(src='../../javascript/menuaulas.js')