extends layout.pug
block titulo
    title Aula 2
block css
    link(rel='stylesheet' type='text/css' href='../../css/aulas.css')
block header
    header
        include ../includes/headeraulas
        h1 Aula_02
    include ../includes/navaulas
block conteudo
    .linha
        section
            article.card
                h2 Fun&ccedil;&atilde;o input e vari&aacute;veis
                iframe(width='100%' height='315' src='https://www.youtube.com/embed/y39uAo9-iWg' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                p
                    | Nessa aula aprendemos sobre a fun&ccedil;&atilde;o input, entendendo que se trata de um m&eacute;todo de entrada, onde a m&aacute;quina recebe dados informados pelo usu&aacute;rio.
                p Aprendemos tamb&eacute;m o que s&atilde;o vari&aacute;veis, e para o que servem.
                p Colocamos em pr&aacute;tica esses ensinamentos no Pydroid3, unindo fun&ccedil;&otilde;es e vari&aacute;veis.
block script
    script(src='../../javascript/menuaulas.js')