extends layout.pug
block titulo
    title Contato
block css
    link(rel='stylesheet' type='text/css' href='../../css/style.css')
    link(rel='stylesheet' type='text/css' href='../../css/contato.css')
block header
    header
        h1 Contato
        include ../includes/header
        include ../includes/nav
block conteudo
    .linha
        form.card(action='https://api.staticforms.xyz/submit' method='POST')
            input(type='hidden' name='accessKey' value='c7b47451-2576-4c44-918b-dc4582f8b36a')
            input(type='hidden' name='redirectTo' value='https://leonanbrayan.github.io/SmartCursos/contato.html')
            label(for='inputnome') Nome
            input#inputnome(type='text' name='name' required='' maxlength='20' minlength='2')
            span
            label(for='inputemail') e-mail
            input#inputemail(type='text' name='email' required='' maxlength='40')
            span
            label(for='textAreaMensagem') Mensagm
            textarea#textAreaMensagem(name='message' required='' maxlength='200')
            span
            button Enviar mensagem