extends layout.pug
block titulo
    title Cursos
block css
    link(rel='stylesheet' type='text/css' href='../../css/style.css')
block header
    header
        h1 Cursos
        include ../includes/header
        include ../includes/nav
block conteudo
    main
        .linha
            section
                article.card
                    h2 Cursos
                    .tabcursos
                        ul
                            li
                                .cursos
                                    a(href='python.html')
                                        img(src='../../imagens/pythonlogo.jpg' alt='python3')
                                    h2 Python3 Básico
                                    p.cursopython
                                        | Curso didático com videoaulas interativas
                                    h2.h2botao
                                        button.btncursos(type='button')
                                            a(href='python.html') Começar
                            li
                                .cursos
                                    a(href='#')
                                        img(src='../../imagens/html.jpg' alt='HTML5')
                                    h2 HTML5 Básico
                                    p 
                                        | Aprenda html5 de uma forma interativa
                                    h2.h2botao
                                        button.btncursos(type='button')
                                            a(href='#') Em breve
                            li
                                .cursos
                                    a(href='#')
                                        img(src='../../imagens/css.jpg' alt='CSS3')
                                    h2 CSS3 Básico
                                    p
                                        | Curso didático feito especialmente para pessoas que usam o smartphone para praticar seus estudos
                                    h2.h2botao
                                        button.btncursos(type='button')
                                            a(href='#') Em breve
                            li
                                .cursos
                                    a(href='#')
                                        img(src='../../imagens/php.jpg' alt='PHP')
                                    h2 PHP Básico
                                    p 
                                        | Aprenda PHP de forma gratuita e intuitiva
                                    h2.h2botao
                                        button.btncursos(type='button')
                                            a(href='#') Em breve
