extends layout.pug
block titulo
    title SmartCursos
block css
    link(rel='stylesheet' type='text/css' href='../../css/style.css')
block header
    header
        h1 SmartCursos
        include ../includes/header
        include ../includes/nav
block conteudo
    .linha
        section
            article.card
                h2 Cursos
                img(src='../../imagens/cursopython.png.jpg' alt='Curso basico de python3' width='100%')
                p#assinatura(onclick='abrirAulas()') Acessar aulas
            ul#openaulas
                li#closeaulas(onclick='fecharAulas()') &times;
                li
                    #acesso
                        ul
                            li
                                #aulas
                                    a(href='aula1.html') Aula_1
                            li
                                #aulas
                                    a(href='aula2.html') Aula_2
        aside
            article.card
            h3 Cursos disponiveis
            img(src='imagens/pythonlateral.png.jpg' alt='Cursos disponiveis' width='100%')
            p Confira nossos cursos disponiveis até o momento