extends layout.pug
block titulo
    title Cursos
block css
    link(rel='stylesheet' type='text/css' href='../../css/style.css')
block header
    header
        h1 Cursos
        include ../includes/header
        include ../includes/nav
block conteudo
    main
        .linha
            section
                article.card
                    h2 Cursos
                    .tabcursos
                        ul
                            li
                                .cursos
                                    a(href='python.html')
                                        img(src='../../imagens/pythonlogo.jpg' alt='python3')
                                    h2 Python3 Básico
                                    p
                                        | Curso didático feito especialmente para pessoas que usam o smartphone para praticar seus estudos
                                    h2.h2botao
                                        button.btncursos(type='button')
                                            a(href='python.html') Começar
                            li
                                .cursos
                                    h2 HTML5 - Curso html5
                            li
                                .cursos
                                    h2 CSS3 - curso css3
                            li
                                .cursos
                                    h2 javascript - curso javascript