doctype html
html(lang="pt-br")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title SmartCursos
        link(rel='stylesheet' type='text/css' href='../../css/style.css')
        script(data-ad-client='ca-pub-9913080789602930' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    body
        header 
            h1 SmartCursos
            h2
                a.btn-abrir(href='#' onclick='abrirMenu()') &#x2630;
        include ../includes/nav
        div.linha
            section
                article.card
                    h2 Cursos de linguagens de programação em videoaulas
                    a(href='cursos.html')
                        img(src='../../imagens/linguagens.png.jpg' alt='Cursos linguagens de programação' width='100%')
                    p Curos para iniciantes em linguagens de programação.
            aside
                article.card
                    h3 Cursos disponiveis
                    a(href='cursos.html')
                        img(src='../../imagens/pythonlateral.png.jpg' alt='Cursos disponiveis' width='100%')
                    p Confira nossos cursos disponiveis até o momento
        include ../includes/footer
        script(src='../../javascript/menu.js')