extends layout.pug
block titulo
    title SmartCursos
block css
    link(rel='stylesheet' type='text/css' href='../../css/style.css')
block header
    header
        h1 SmartCursos
        include ../includes/header
        include ../includes/nav
block conteudo
        div.linha
            section
                article.card
                    h2 Cursos de linguagens de programação em videoaulas
                    a(href='cursos.html')
                        img(src='../../imagens/linguagens.png.jpg' alt='Cursos linguagens de programação' width='100%')
                    p Curos para iniciantes em linguagens de programação.
            aside
                article.card
                    h3 Cursos disponiveis
                    a(href='cursos.html')
                        img(src='../../imagens/pythonlateral.png.jpg' alt='Cursos disponiveis' width='100%')
                    p Confira nossos cursos disponiveis até o momento
        